
@using UI.Controllers;
@using UI.Models;
@using MongoDB.Driver;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - WishCR</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/slickcss")
    @Styles.Render("~/Content/OwlCarousel2css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/main_styles.css")
    @Styles.Render("~/Content/responsive.css")
    @RenderSection("styles", required: false)
</head>
<body>
    @{
        string rutaCategoria(string categoria)
        {
            return "/Home/About";
        }
        ViewBag.Cliente = Store.Default.Cliente;
        MongoContext mc = new MongoContext();
        ViewBag.Categorias = mc.Categorias.AsQueryable().ToList();
        if (ViewBag.Cliente != null)
        {
            ViewBag.DeseosCount = "" + ((Cliente)ViewBag.Cliente).Deseos.Count();
        }
        else
        {
            ViewBag.DeseosCount = "0";

        }
    }
    @*<div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>*@
    <header class="header">

        <!-- Top Bar -->

        <div class="top_bar">
            <div class="container">
                <div class="row">
                    <div class="col d-flex flex-row">
                        <div class="top_bar_contact_item"><div class="top_bar_icon"><img src="~/images/phone.png" alt=""></div>+506 2205 3570</div>
                        <div class="top_bar_contact_item"><div class="top_bar_icon"><img src="~/images/mail.png" alt=""></div><a href="wishcr@gmail.com">wishcr@gmail.com</a></div>
                        <div class="top_bar_content ml-auto">
                            <div class="top_bar_menu">
                                @if (ViewBag.Cliente != null)
                                {
                                    <ul class="standard_dropdown top_bar_dropdown">
                                        <li>
                                            <a href="#"><img src="~/images/user.svg" alt="" class="user_icon"/>Usuario<i class="fa fa-chevron-down"></i></a>
                                            <ul>
                                                <li><a href="#">Facturas</a></li>
                                                <li><a href="#">Carrito</a></li>
                                                <li><a href="#">Deseos</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                }
                            </div>
                            <div class="top_bar_user">
                                @if (ViewBag.Cliente != null)
                                {
                                    <div><a href="/Auth/SessionDown">Cerrar Sessión</a></div>
                                }
                                else
                                {
                                    <div class="user_icon"></div>
                                    <div><a href="/Auth/Register">Registrarse</a></div>
                                    <div><a href="/Auth/Login">Ingresar</a></div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Header Main -->

        <div class="header_main">
            <div class="container">
                <div class="row">

                    <!-- Logo -->
                    <div class="col-lg-2 col-sm-3 col-3 order-1">
                        <div class="logo_container">
                            <div class="logo"><a href="/Home/Index">WishCR</a></div>
                        </div>
                    </div>

                    <!-- Search -->
                    <div class="col-lg-6 col-12 order-lg-2 order-3 text-lg-left text-right">
                        <div class="header_search">
                            <div class="header_search_content">
                                <div class="header_search_form_container">
                                    <form action="/Home/Contact" class="header_search_form clearfix">
                                        <input type="search" required="required" class="header_search_input" placeholder="Buscar Productos...">
                                        <div class="custom_dropdown">
                                            <div class="custom_dropdown_list">
                                                <span class="custom_dropdown_placeholder clc">Todas las Categorias</span>
                                                <i class="fa fa-chevron-down"></i>
                                                <ul class="custom_list clc">
                                                    @foreach (var c in ViewBag.Categorias)
                                                    {
                                                        <li><a class="clc" href="@rutaCategoria(c.Nombre)">@c.Nombre</a></li>
                                                    }
                                                </ul>
                                            </div>
                                        </div>
                                        <button type="submit" class="header_search_button trans_300" value="Submit"><img src="~/images/search.png" alt=""></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Wishlist -->
                    <div class="col-lg-4 col-9 order-lg-3 order-2 text-lg-left text-right">
                        <div class="wishlist_cart d-flex flex-row align-items-center justify-content-end">
                            <div class="wishlist d-flex flex-row align-items-center justify-content-end">
                                <div class="wishlist_icon"><img src="~/images/heart.png" alt=""></div>
                                <div class="wishlist_content">
                                    <div class="wishlist_text"><a href="#">Deseos</a></div>
                                    <div class="wishlist_count">@ViewBag.DeseosCount.ToString()</div>
                                </div>
                            </div>

                            <!-- Cart -->
                            <div class="cart">
                                <div class="cart_container d-flex flex-row align-items-center justify-content-end">
                                    <div class="cart_icon">
                                        <img src="~/images/cart.png" alt="">
                                        <div class="cart_count"><span>10</span></div>
                                    </div>
                                    <div class="cart_content">
                                        <div class="cart_text"><a href="#">Carrito</a></div>
                                        <div class="cart_price">$85</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main Navigation -->

        <nav class="main_nav">
            <div class="container">
                <div class="row">
                    <div class="col">

                        <div class="main_nav_content d-flex flex-row">

                            <!-- Categories Menu -->

                            <div class="cat_menu_container">
                                <div class="cat_menu_title d-flex flex-row align-items-center justify-content-start">
                                    <div class="cat_burger"><span></span><span></span><span></span></div>
                                    <div class="cat_menu_text">categorias</div>
                                </div>

                                <ul class="cat_menu">
                                    @foreach (var c in ((List<Categoria>)ViewBag.Categorias).Take(10))
                                    {
                                        <li><a href="@rutaCategoria(c.Nombre)">@c.Nombre<i class="fa fa-chevron-right ml-auto"></i></a></li>
                                    }
                                </ul>
                            </div>

                            <!-- Main Nav Menu -->

                            <div class="main_nav_menu ml-auto">
                                <ul class="standard_dropdown main_nav_dropdown">
                                    <li><a href="#">Home<i class="fa fa-chevron-down"></i></a></li>
                                    <li class="hassubs">
                                        <a href="#">Paginas<i class="fa fa-chevron-down"></i></a>
                                        <ul>
                                            <li><a href="shop.html">Shop<i class="fa fa-chevron-down"></i></a></li>
                                            <li><a href="product.html">Product<i class="fa fa-chevron-down"></i></a></li>
                                            <li><a href="blog.html">Blog<i class="fa fa-chevron-down"></i></a></li>
                                            <li><a href="blog_single.html">Blog Post<i class="fa fa-chevron-down"></i></a></li>
                                            <li><a href="regular.html">Regular Post<i class="fa fa-chevron-down"></i></a></li>
                                            <li><a href="cart.html">Cart<i class="fa fa-chevron-down"></i></a></li>
                                            <li><a href="/Home/Contact">Contacto<i class="fa fa-chevron-down"></i></a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/Home/Contact">Contacto<i class="fa fa-chevron-down"></i></a></li>
                                </ul>
                            </div>

                            <!-- Menu Trigger -->

                            <div class="menu_trigger_container ml-auto">
                                <div class="menu_trigger d-flex flex-row align-items-center justify-content-end">
                                    <div class="menu_burger">
                                        <div class="menu_trigger_text">menu</div>
                                        <div class="cat_burger menu_burger_inner"><span></span><span></span><span></span></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <!-- Menu -->

        <div class="page_menu">
            <div class="container">
                <div class="row">
                    <div class="col">

                        <div class="page_menu_content">

                            <div class="page_menu_search">
                                <form action="#">
                                    <input type="search" required="required" class="page_menu_search_input" placeholder="Search for products...">
                                </form>
                            </div>
                            <ul class="page_menu_nav">
                                <li class="page_menu_item has-children">
                                    <a href="#">Language<i class="fa fa-angle-down"></i></a>
                                    <ul class="page_menu_selection">
                                        <li><a href="#">English<i class="fa fa-angle-down"></i></a></li>
                                        <li><a href="#">Italian<i class="fa fa-angle-down"></i></a></li>
                                        <li><a href="#">Spanish<i class="fa fa-angle-down"></i></a></li>
                                        <li><a href="#">Japanese<i class="fa fa-angle-down"></i></a></li>
                                    </ul>
                                </li>
                                <li class="page_menu_item has-children">
                                    <a href="#">Currency<i class="fa fa-angle-down"></i></a>
                                    <ul class="page_menu_selection">
                                        <li><a href="#">US Dollar<i class="fa fa-angle-down"></i></a></li>
                                        <li><a href="#">EUR Euro<i class="fa fa-angle-down"></i></a></li>
                                        <li><a href="#">GBP British Pound<i class="fa fa-angle-down"></i></a></li>
                                        <li><a href="#">JPY Japanese Yen<i class="fa fa-angle-down"></i></a></li>
                                    </ul>
                                </li>
                                <li class="page_menu_item">
                                    <a href="#">Home<i class="fa fa-angle-down"></i></a>
                                </li>
                                <li class="page_menu_item has-children">
                                    <a href="#">Super Deals<i class="fa fa-angle-down"></i></a>
                                    <ul class="page_menu_selection">
                                        <li><a href="#">Super Deals<i class="fa fa-angle-down"></i></a></li>
                                        <li class="page_menu_item has-children">
                                            <a href="#">Menu Item<i class="fa fa-angle-down"></i></a>
                                            <ul class="page_menu_selection">
                                                <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                                                <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                                                <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                                                <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                                        <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                                        <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                                    </ul>
                                </li>
                                <li class="page_menu_item has-children">
                                    <a href="#">Featured Brands<i class="fa fa-angle-down"></i></a>
                                    <ul class="page_menu_selection">
                                        <li><a href="#">Featured Brands<i class="fa fa-angle-down"></i></a></li>
                                        <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                                        <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                                        <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                                    </ul>
                                </li>
                                <li class="page_menu_item has-children">
                                    <a href="#">Trending Styles<i class="fa fa-angle-down"></i></a>
                                    <ul class="page_menu_selection">
                                        <li><a href="#">Trending Styles<i class="fa fa-angle-down"></i></a></li>
                                        <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                                        <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                                        <li><a href="#">Menu Item<i class="fa fa-angle-down"></i></a></li>
                                    </ul>
                                </li>
                                <li class="page_menu_item"><a href="blog.html">blog<i class="fa fa-angle-down"></i></a></li>
                                <li class="page_menu_item"><a href="contact.html">contact<i class="fa fa-angle-down"></i></a></li>
                            </ul>

                            <div class="menu_contact">
                                <div class="menu_contact_item"><div class="menu_contact_icon"><img src="~/images/phone_white.png" alt=""></div>+38 068 005 3570</div>
                                <div class="menu_contact_item"><div class="menu_contact_icon"><img src="~/images/mail_white.png" alt=""></div><a href="wishcr@gmail.com">wishcr@gmail.com</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>

    <!-- Banner -->

    <div class="banner">
        <div class="banner_background" style="background-image:url(images/banner_background.jpg)"></div>
        <div class="container fill_height">
            <div class="row fill_height">
                <div class="banner_product_image"><img src="~/images/banner_product.png" alt=""></div>
                <div class="col-lg-5 offset-lg-4 fill_height">
                    <div class="banner_content">
                        <h1 class="banner_text">Nueva era de smartphones</h1>
                        <div class="banner_price"><span>$530</span>$460</div>
                        <div class="banner_product_name">Apple Iphone 11</div>
                        <div class="button banner_button"><a href="#">Comprar Ahora</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        @RenderBody()
        <hr />


        <!-- Footer -->

        <footer class="footer">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 footer_col">
                        <div class="footer_column footer_contact">
                            <div class="logo_container">
                                <div class="logo"><a href="#">WishCR</a></div>
                            </div>
                            <div class="footer_title">Alguna consulta llamanos 24/7</div>
                            <div class="footer_phone">+506 2205 3570</div>
                            <div class="footer_contact_text">
                                <p>San Pedro Centro</p>
                                <p>San José - Costa Rica</p>
                            </div>
                            <div class="footer_social">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 offset-lg-2">
                        <div class="footer_column">
                            <div class="footer_title">Encuentra rapido</div>
                            <ul class="footer_list">
                                <li><a href="#">Computadoras y Laptops</a></li>
                                <li><a href="#">Camaras</a></li>
                                <li><a href="#">Hardware</a></li>
                                <li><a href="#">Smartphones y Tablets</a></li>
                                <li><a href="#">TV y Audio</a></li>
                            </ul>
                            <div class="footer_subtitle">Accesorios</div>
                            <ul class="footer_list">
                                <li><a href="#">Electronicos</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <div class="footer_column">
                            <ul class="footer_list footer_list_2">
                                <li><a href="#">Video Juegos y Consolas</a></li>
                                <li><a href="#">Accesorios</a></li>
                                <li><a href="#">Camaras</a></li>
                                <li><a href="#">Hardware</a></li>
                                <li><a href="#">Computadoras y Laptops</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-2">
                        <div class="footer_column">
                            <div class="footer_title">Ayuda al Cliente</div>
                            <ul class="footer_list">
                                <li><a href="#">Mi Cuenta</a></li>
                                <li><a href="#">Ordenes</a></li>
                                <li><a href="#">Wish Lista</a></li>
                                <li><a href="#">Servicio al Consumidor</a></li>
                                <li><a href="#">Cambios</a></li>
                                <li><a href="#">FAQs</a></li>
                                <li><a href="#">Soporte Productos</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </footer>

        <!-- Copyright -->

        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col">

                        <div class="copyright_container d-flex flex-sm-row flex-column align-items-center justify-content-start">
                            <div class="copyright_content">
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved | This page is made in Fidelitas University <i class="fa fa-heart" aria-hidden="true"></i>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </div>
                            <div class="logos ml-sm-auto">
                                <ul class="logos_list">
                                    <li><a href="#"><img src="~/images/logos_1.png" alt=""></a></li>
                                    <li><a href="#"><img src="~/images/logos_2.png" alt=""></a></li>
                                    <li><a href="#"><img src="~/images/logos_3.png" alt=""></a></li>
                                    <li><a href="#"><img src="~/images/logos_4.png" alt=""></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/easing")
    @Scripts.Render("~/bundles/scrollmagic")
    @Scripts.Render("~/bundles/OwlCarousel2")
    @Scripts.Render("~/bundles/slick")
    @Scripts.Render("~/bundles/greensock")
    @RenderSection("scripts", required: false)
</body>
</html>
