@using UI.Models;
@model IEnumerable<UI.Models.Producto>
@{
    ViewBag.Title = "Productos";
    Layout = "~/Views/Shared/_Layout_Usuario.cshtml";
    string rutaCategoria(string categoria)
    {
        return "/Articulos/Details/"+categoria;
    }
}



@section Styles {
    @Styles.Render("~/Content/shop_styles.css")
    @Styles.Render("~/Content/shop_responsive.css")
}

<!-- Shop -->

<div class="shop">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">

                <!-- Shop Sidebar -->
                <div class="shop_sidebar">
                    <div class="sidebar_section">
                        <div class="sidebar_title">Categories</div>
                        <ul class="sidebar_categories">
                            @foreach (var c in ViewBag.Categorias)
                            {
                                <li><a href="@rutaCategoria(c.Id)">@c.Nombre</a></li>
                            }
                        </ul>
                    </div>
                </div>

            </div>

            <div class="col-lg-9">

                <!-- Shop Content -->

                <div class="shop_content">
                    <div class="shop_bar clearfix">
                        <div class="shop_product_count"><span>@Model.Count()</span> productos a la venta</div>
                        <div class="shop_sorting">
                            <span>Ordenar por:</span>
                            <ul>
                                <li>
                                    <span class="sorting_text">Mejor valorados<i class="fa fa-chevron-down"></i></span>
                                    <ul>
                                        <li class="shop_sorting_button" data-isotope-option='{ "sortBy": "original-order" }'>Mejor valorados</li>
                                        <li class="shop_sorting_button" data-isotope-option='{ "sortBy": "name" }'>Nombre</li>
                                        <li class="shop_sorting_button" data-isotope-option='{ "sortBy": "price" }'>Precio</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="product_grid">
                        <div class="product_grid_border"></div>
                        @foreach (var p in Model)
                        {
                            <!-- Product Item -->
                            <div class="product_item">
                                <div class="product_border"></div>
                                <div class="product_image d-flex flex-column align-items-center justify-content-center"><img src="~/images/featured_2.png" alt=""></div>
                                <div class="product_content">
                                    <div class="product_price">@p.Precio ₡</div>
                                    <div class="product_name"><div><a href="#" tabindex="0">@p.Nombre</a></div></div>
                                </div>
                                @if (ViewBag.Cliente != null)
                                {
                                    <button class="btn btn-outline-primary btn-sm" id="@p.Id.ToString()" onclick="Comprar(event)">Agregar al Carrito</button>
                                }
                                @{
                                    string parameters = (p.Id.ToString() + " " + ((ViewBag.Cliente == null) ? "ninguno" : ViewBag.Cliente.Cedula.ToString()));
                                    if (ViewBag.Cliente != null)
                                    {
                                        if (((List<Producto>)ViewBag.Cliente.Deseos).ToList().Exists(d => d.Id.Equals(p.Id.ToString())))
                                        {
                                            <div class="product_fav active"><input type="hidden" value="@parameters" /><i class="fa fa-heart"></i></div>
                                        }
                                        else
                                        {
                                            <div class="product_fav"><input type="hidden" value="@parameters" /><i class="fa fa-heart"></i></div>
                                        }
                                    }
                                    else
                                    {
                                        <div class="product_fav"><input type="hidden" value="ninguno" /><i class="fa fa-heart"></i></div>
                                    }
                                }
                                <ul class="product_marks">
                                    <li class="product_mark product_discount"></li>
                                    <li class="product_mark product_new">new</li>
                                </ul>
                            </div>
                        }
                        <!-- Product Item -->
                        @*<div class="product_item">
                            <div class="product_border"></div>
                            <div class="product_image d-flex flex-column align-items-center justify-content-center"><img src="~/images/featured_2.png" alt=""></div>
                            <div class="product_content">
                                <div class="product_price">379 ₡</div>
                                <div class="product_name"><div><a href="#" tabindex="0">Apple iPod shuffle</a></div></div>
                            </div>
                            <div class="product_fav"><i class="fa fa-heart"></i></div>
                            <ul class="product_marks">
                                <li class="product_mark product_discount">-25%</li>
                                <li class="product_mark product_new">new</li>
                            </ul>
                        </div>*@

                        <!-- Product Item -->
                        <div class="product_item is_new">
                            <div class="product_border"></div>
                            <div class="product_image d-flex flex-column align-items-center justify-content-center"><img src="~/images/shop_2.jpg" alt=""></div>
                            <div class="product_content">
                                <div class="product_price">$225</div>
                                <div class="product_name"><div><a href="#" tabindex="0">Gembird SPK-103</a></div></div>
                            </div>
                            <div class="product_fav"><i class="fa fa-heart"></i></div>
                            <ul class="product_marks">
                                <li class="product_mark product_discount">-25%</li>
                                <li class="product_mark product_new">new</li>
                            </ul>
                        </div>

                        <!-- Product Item -->
                        <div class="product_item is_new">
                            <div class="product_border"></div>
                            <div class="product_image d-flex flex-column align-items-center justify-content-center"><img src="~/images/featured_5.png" alt=""></div>
                            <div class="product_content">
                                <div class="product_price">$379</div>
                                <div class="product_name"><div><a href="#" tabindex="0">Canon STM Kit...</a></div></div>
                            </div>
                            <div class="product_fav"><i class="fa fa-heart"></i></div>
                            <ul class="product_marks">
                                <li class="product_mark product_discount">-25%</li>
                                <li class="product_mark product_new">new</li>
                            </ul>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/Scripts/isotope.pkgd.min.js")
    @Scripts.Render("~/bundles/compras")
    @Scripts.Render("~/Scripts/shop_custom.js")
}