@model IEnumerable<UI.Models.Factura>

@{
    ViewBag.Title = "Facturas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="display-4">Listado de Facturas</h1>
<div class="row shadow-lg p-3 mb-5 bg-white rounded">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Empresa)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Cedula_Juridica)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Numero_Factura)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Fecha)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Subtotal)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IVA)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Total)
                        </th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Empresa)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Cedula_Juridica)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Numero_Factura)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Fecha)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Subtotal)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IVA)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Total)
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>
</div>