@model IEnumerable<UI.Models.Cliente>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cedula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Primer_Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Segundo_Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_Nacimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contrasena)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Correo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Targetas_Credito)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cedula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Primer_Apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Segundo_Apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_Nacimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contrasena)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Correo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Targetas_Credito)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Cedula }) |
            @Html.ActionLink("Details", "Details", new { id = item.Cedula }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Cedula })
        </td>
    </tr>
}

</table>
